services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - '3000:3000'
    environment:
     - DATABASE_HOST=db
     - DATABASE_PORT=5432
     - DATABASE_USERNAME=postgres
     - DATABASE_PASSWORD=este
     - DATABASE_NAME=ecommerce
     - JWT_SECRET=secret
     - CLOUDINARY_CLOUD_NAME=dtwp4lemc
     - CLOUDINARY_API_KEY=174539827722462
     - CLOUDINARY_API_SECRET=YY0iYSLok-oRfQcLRQbhySyLuIE
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=ecommerce
    ports:
      - '54321:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: 
   driver: local
